<h1>Create New User</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h2>Errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |error_msg| %>
        <li><%= error_msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p><br>
  <p>
    <%= f.submit "Create user" %>
  </p>
<% end %>